venv/

.idea
*.ini
*.lock
*___jb_old___
*___jb_tmp___

logs/
scripts/scratch.py
player_soundboard_stats.json
bestiary-mm.json
volume_settings.json

# Files that are too big to commit
## Audio
D&D Music *.mp3
D&D Ambience *.mp3
RPG Music *.mp3
RPG Ambience *.mp3
Epic Zombie Fighting Music Mix.mp3
Jesper Kyd Apocalypse Lyrics.mp3
Michiru Yamane Wood Carving Partita Slowed Extended.mp3
Music Of Cathedrals and Forgotten Temples _ 1 Hour Atmospheric Choir Mix.mp3
NieR Automata A Beautiful Song Intense Symphonic Metal Cover.mp3
Scary Dark and Evil Piano and Violin Music Lucifers Waltz.mp3
The Witcher 3 Wild Hunt Hearts of Stone Soundtrack Main Theme.mp3
CoS Vistani Camp 8TtFIT3x2PI.mp3
Forest Edge _ Nighttime Ambience _ 10 Hours _ Nature Sleep Sounds-_FJIH0Yi2Mk.mp3
Rain On Window with Thunder Sounds - Rain in Forest at Night - 10 Hours-x7SQaDTSrVg.mp3
Luigi Boccherini Minuet String Quintet 2AZOknKotVc.mp3
Angry Tiger Growling Roar*.mp3
Goblin Attack.mp3
01 - Goblin Ambush - Lost Mine of Phandelver Soundtrack.mp3
pirate_fight.mp3
drowning_wench.mp3
Calm Ocean Voyage - D&D Ambience + Calming Travel Music.mp3
Fireplace Sounds - Medieval Tavern - Inn Ambience _ 1 hour.mp3
Forest Sounds _ Woodland Ambience, Bird Song.mp3
Rowdy Tavern.mp3

## Video
*.mp4
