# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.idea
*.ini
*.lock
*___jb_old___
*___jb_tmp___

logs/

bestiary-mm.json

# Files that are too big to commit
## Audio
D&D Ambience *.mp3
Epic Zombie Fighting Music Mix.mp3
Jesper Kyd Apocalypse Lyrics.mp3
Michiru Yamane Wood Carving Partita Slowed Extended.mp3
Music Of Cathedrals and Forgotten Temples _ 1 Hour Atmospheric Choir Mix.mp3
NieR Automata A Beautiful Song Intense Symphonic Metal Cover.mp3
Scary Dark and Evil Piano and Violin Music Lucifers Waltz.mp3
The Witcher 3 Wild Hunt Hearts of Stone Soundtrack Main Theme.mp3
CoS Vistani Camp 8TtFIT3x2PI.mp3
Forest Edge _ Nighttime Ambience _ 10 Hours _ Nature Sleep Sounds-_FJIH0Yi2Mk.mp3
Rain On Window with Thunder Sounds - Rain in Forest at Night - 10 Hours-x7SQaDTSrVg.mp3
Luigi Boccherini Minuet String Quintet 2AZOknKotVc.mp3
Angry Tiger Growling Roar*.mp3

## Video
*.mp4
