beautifulsoup4
bcrypt
bottle
bottle-swagger-2
bottle_websocket
fasteners
gevent  # On M1 Mac, needs to be installed first with `arch -arm64 pip install gevent`
GitPython
google-cloud-storage
markdown2
