.month {
    margin-top: 20px;
    position: relative;
}

.month-img {
    position: relative;
    width: 1400px;
}

.day {
    font-size: 11pt;
    position: absolute;
    text-align: center;
    color: orangered;
    /*outline: 1px solid red;*/
    padding-top: 32px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    width: 120.25px;
    height: 112px;
}

.neighborhood-watch {
    position: absolute;
    width: 30px;
    height: 30px;
}