.month {
    margin-top: 20px;
    position: relative;
}

.month-img {
    position: relative;
    width: 1110px;
}

.day {
    font-size: 1vw;
    position: absolute;
    text-align: center;
    color: orangered;
    /*outline: 1px solid red;*/
    padding-top: 2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    box-sizing: border-box;
    width: 8.5%;
    height: 18.1%;
}

.neighborhood-watch {
    position: absolute;
    width: 20px;
    height: 20px;
}