#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

div.tab-bar {
    background-color: inherit;
}

button.tab-button {
    border: 0;
    background-color: lightgray;
    font-size: 1em;
}

button.tab-active {
    color: white;
    background-color: maroon;
}

div.tab-page {
    display: none;
    padding: 6px 12px;
    border: 2px solid maroon;
    background-color: #eee;
    margin-top: -1px;
}

div.mod {
    font-family: 'Courier New', sans-serif;
    text-align: right;
}

div#ability-scores-grid {
    display: grid;
    grid-template-columns: 90px 80px;
    margin-bottom: 10px;
}

div#saves-grid {
    display: grid;
    grid-template-columns: 20px 90px 50px;
    margin-bottom: 10px;
}

div#misc-grid {
    display: grid;
    grid-template-columns: 140px 20px;
    margin-bottom: 10px;
}

div#skills-grid {
    display: grid;
    grid-template-columns: 20px 20px 130px 20px;
}

div#skills div.tooltip {
    text-align: center;
}

div#saves-grid div.tooltiptext, div#skills-grid div.tooltiptext {
    width: 100px;
}
