#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

div#tab-container {
    width: 400px;
    height: 430px;
}

div#tab-bar {
    background-color: inherit;
}

button.tab-button {
    border: 0;
    background-color: lightgray;
    font-size: 1em;
}

button.tab-active {
    color: white;
    background-color: maroon;
}

div.tab-page {
    display: none;
    padding: 6px 12px;
    border: 2px solid maroon;
    background-color: #eee;
    margin-top: -1px;
    margin-bottom: 20px;
    width: 100%;
    height: 95%;
}

div.mod {
    font-family: 'Courier New', sans-serif;
    text-align: right;
    padding-left: 10px;
    padding-right: 5px;
}

div#ability-scores-grid {
    display: inline-grid;
    grid-template-columns: 90px auto;
    margin-bottom: 10px;
}

div#saves-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 10px;
}

div#skills-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 5px;
}

div#combat-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    margin-bottom: 10px;
}

div#skills div.tooltip {
    text-align: center;
}

div#saves-grid div.tooltiptext, div#skills-grid div.tooltiptext {
    width: 100px;
}

div#spellcasting-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    margin-bottom: 10px;
}

div.spell-name {
    margin-left: 5px;
    margin-right: 5px;
}

div#spell-list-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 10px;
}

div#class-features {
    display: inline-block;
}

div#class-features-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.class-feature-name {
    margin-left: 5px;
}
