.monster-sheet {
    background-color: rgb(253, 241, 220);
    box-shadow: 0 0 5px;
    margin: 0 2px;
    padding: 5px;
    z-index: -10;
    color: rgb(146, 38, 16);
}

.monster-sheet .top-bottom-bar {
    background-color: rgb(230, 154, 40);
    height: 3px;
    border: solid black 1px;
    margin: -8px;
}

.monster-sheet .name {
    color: #8C1717;
    font-size: 190%;
    font-family: 'IM Fell DW Pica SC', serif;
    padding: 0 5px;
    margin-top: 8px;
    margin-bottom: 1px;
}

.monster-sheet .type {
    font-size: 90%;
    color: black;
    font-style: italic;
    padding: 0 5px 0 5px;
}

.monster-sheet .red-bar {
    display: block;
    width: 100%;
    min-height: 10px;
    margin: 6px 0 0 3px;
}

.monster-sheet .red-bar-img {}

.monster-sheet .text {
    padding: 0 5px 0 5px;
}

.monster-sheet .actions-header {
    background: none;
    border-bottom: solid 1px;
    margin-top: 0;
    margin-bottom: -2px;
    padding-left: 5px;
}

.monster-sheet .text-black {
    padding: 0 5px 0 5px;
    color: black;
}

.monster-sheet .ability-scores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    margin: 0 5px;
}

.monster-sheet .ability-score-name {
    font-weight: bold;
}
