ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding-left: 0;
}

@media only screen and (max-width: 600px) {
    ul {
        grid-template-columns: 1fr;
    }
}

.visual-aid-link {
    border: 2px solid #ccc;
    color: black;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.05);
    transition: 1.5s cubic-bezier(.21,.04,.26,.99);
    margin: 0.5rem;
    padding: 1.0rem;
    border-radius: 10px;
    background: #fff;
}

.visual-aid-link:hover {
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
    border-color: red;
}
