@import url(https://fonts.googleapis.com/css?family=Bree+Serif|PT+Sans:400,400italic,700,700italic|IM+Fell+DW+Pica+SC|Roboto+Mono);

body {
    font-family: 'PT Sans', sans-serif;
    background: url(/media/img/vellum-plain-background-repeating.jpg) repeat top center;
}

#content {
    background-color: cornsilk;
    margin: -10px auto 0 auto;
    max-width: 1150px;
    width: auto;
}

#banner-image {
    background: url(/media/img/Banner.jpg) top center;
    height: 130px;
    padding: 20px;
    position: relative;
    border-bottom: 10px #A4121A solid;
}

#wiki-title {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 60px;
    font-weight: bold;
    font-stretch: expanded;
    color: white;
    text-decoration: none;
    line-height: 150px;
}

#page-content {
    margin: 20px;
}

/* top-bar menu (inside #header) */

#top-bar {
    position: absolute;
    left: 10px;
    bottom: 0;
    top: 152px;
}

#top-bar ul {
	display: block;
	margin: 0;
    padding: 0;
	list-style: none;
}

#top-bar ul li {
    float: left;
	list-style: none;
}

#top-bar .dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
}

#top-bar .dropdown a, #top-bar .dropdown hr {
    background-color: #A4121A;
    color: white;
	margin: 0 2px;
}

#top-bar .dropdown a {
    min-height: 22px;
    padding: 0 15px;
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    font-size: 90%;
}

#top-bar .dropdown a:hover {
    background-color: white;
    color: #A4121A
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 22px;
    margin-left: 5px;
    min-width: 180px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    border-left: #444444 3px solid;
}

.dropdown-content hr {
    color: #0000FF;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Main Page containers */
#index-container {
    display: flex;
    flex-wrap: wrap;
}

.index-column {
    margin: 0.5em;
    padding: 0.25em 0.5em;
    background-color: antiquewhite;
    min-width: 20%;
    flex-grow: 3;
}

.index-column ul {
    list-style-image: url("/media/img/bullet.png");
    padding-left: 1em;
}

.index-column > ul {
    margin-left: 1em;
}

.index-column p {
    line-height: 0.8em;
}

.index-column h2 {
    text-align: center;
    margin-top: 0;
    margin-left: -0.2em;
    width: 100%;
    padding: 0.2em;
}

.index-column h2 > .header-link {
    visibility: hidden !important;
}

/* Image stuff */
img[alt$=">"] {
    float: right;
    max-width: 40%;
    width: 400px;
}

img[alt$="<"] {
    float: left;
}

img[alt$="><"], img.illustration {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none!important;
}

img.illustration {
    width: 50em;
}

p.image-caption {
    font-style: italic;
    text-align: center;
}

/*div#toc {*/
/*    float: right;*/
/*    padding-right: 10px;*/
/*    margin-left: 10px;*/
/*    margin-right: 5px;*/
/*    background-color: lightgray;*/
/*    border: 2px dashed gray;*/
/*}*/

#toc-header {
    margin-top: 0;
    margin-bottom: 0;
}

#toc-collapse {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 0.8em;
    cursor: pointer;
}

#toc-content {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Font family of headers */
h1,h2,h3,h4,h5,h6{
    font-family: 'IM Fell DW Pica SC', serif;
    color: #8C1717;
}

/* Sizes, weight and text-decorations of headers */
h1 {
    font-size: 190%;
    font-weight: normal;
    text-decoration: none;
    font-family: 'IM Fell DW Pica SC', serif;
}
h1#page-title {
    font-family: 'Bree Serif', serif;
}
.no-float {
    clear: both;
}
h2 {
    font-weight: normal;
    font-size: 140%;
    text-decoration: none;
    color: #8C1717;
    background: #ECC3BF;
    display: flex;
    padding: 3px 15px;
    max-width: 100%;
}
h3 {
    font-weight: normal;
    font-size: 140%;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 0;
}
h4 {
    font-weight: normal;
    font-style: italic;
    font-size: 120%;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0.5em;
}
h5 {
    font-weight: bold;
    font-size: 100%;
    text-decoration: none;
}
h6 {
    font-weight: bold;
    font-size: 90%;
    text-decoration: none;
}

h1 > .header-link,
h2 > .header-link,
h3 > .header-link,
h4 > .header-link,
h5 > .header-link,
h6 > .header-link {
    font-family: 'Arial', sans-serif;
    font-weight: 80;
    margin-left: 0.5rem;
    visibility: hidden;
    text-decoration: none;
}

h1:first-child > .header-link,
h2:first-child > .header-link,
h3:first-child > .header-link,
h4:first-child > .header-link,
h5:first-child > .header-link,
h6:first-child > .header-link,
h1:hover > .header-link,
h2:hover > .header-link,
h3:hover > .header-link,
h4:hover > .header-link,
h5:hover > .header-link,
h6:hover > .header-link {
    visibility: visible;
}

div.phb-sidebar, div.phb-sidebar-no-float, div.errata, div.errata-no-float {
    padding: 0 1em;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid gray;
}

div.phb-sidebar, div.phb-sidebar-no-float {
    background-color: #CEC;
}

div.errata, div.errata-no-float {
    background-color: #FEA;
}

div.phb-sidebar, div.errata {
    float: right;
    width: 30%;
}

div.homebrew-note {
    border: 1px solid gray;
    background-color: #FEA;
    padding: 5px 10px 5px 10px;
}

/* Enable borders on tables by default (copy default browser border look) */

table, th, td {
    border: 1px solid black;
}

table {
    border-top-color: grey;
    border-left-color: grey;
    margin-bottom: 5px;
}

th, td {
    border-bottom-color: grey;
    border-right-color: grey;
}

table.no-border, table.no-border th, table.no-border td {
    border: 0;
}

th, td {
    margin: 0;
    padding: 3px;
}

div#toc {
    float: right;
    margin: 1em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border: 1px dashed gray;
	background-color: #F7F7F7;
	display: table;
}

div#toc ul {
    margin: 0 0 0 1em;
    padding: 0 0 0 0;
}

div#toc li {
    list-style-type: none;
}

a, a:visited {
    color: #8C1717;
}

a.wiki-link-broken {
    color: #5f9ea0;
}

div#show-advanced-block, div#hide-advanced-block, div#show-subtypes, div#hide-subtypes {
    font-size: small;
    color: #8C1717;
    text-decoration: underline dotted;
    cursor: pointer
}

/* From https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 3px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

button.accordion-button {
    background-color: #A4121A;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: 'Bree Serif', serif;
    font-size: 12pt;
    transition: 0.4s;
    margin-top: 5px;
}

.accordion-active, button.accordion-button:hover {
    background-color: #730c12;
}

button.accordion-button:before {
    content: "\002B";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion-active:before {
    content: "\2212";
}

div.accordion-panel {
    text-align: left;
    padding: 0 18px;
    background-color: antiquewhite;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

blockquote {
	border: 1px dashed #999;
	padding: 0 1em;
	background-color: #f4f4f4;
}

#custom_visual_aid_url, #custom_soundboard_url {
    width: 300px;
}

.visual-aid-link {
    color: blue;
    text-decoration: underline dashed blue;
    cursor: pointer;
}

.visual-aid-hover {
    visibility: hidden;
    /*max-height: 300px;*/
    max-width: 300px;
    background-color: black;
    padding: 5px 3px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    transform: translateX(50px);
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.visual-aid-link:hover .visual-aid-hover {
    visibility: visible;
}

.popup-link:hover .visual-aid-hover {
    visibility: visible;
}

.visual-aid-hover-img {
    height: 100%;
    width: 100%;
}

.search-result-path {
    margin-top: -5px;
    font-style: italic;
    font-size: 80%;
}

.search-processing-time {
    font-style: italic;
    font-size: 80%;
}

#search_navigation {
    text-align: center;
}

.monster-include {
    display:inline-block;
    vertical-align: top;
    margin: 5px;
}

.monster-float {
    float: right;
    margin-top: -10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

div.theme-restricted {
    padding: 0 15px;
    width: 75%;
    border: dashed 1px gray;
    background-color: #FEA;
}

.clear-float {
    clear: right;
    margin: 0;
    padding: 0;
}

.light_gallery_thumbnail {
    text-decoration: none;
}

.light_gallery_thumbnail > img {
    max-width: 10rem;
    max-height: 10rem;
    background-color: rgba(2, 2, 2, 0.2);
    padding: 0.2em;
}

#spellcasting-calculator {
    border: 2px solid black;
    padding: 1em;
    margin: auto;
    width: 20em;
}

.spellcasting-calculator-input {
    margin: 0.2em;
}

#consumed-material, #non-consumed-material {
    width: 2em;
}

#spellcasting-service-cost {
    font-weight: bold;
    margin-top: 0.2em;
}

.gm-notes {
    display: inline;
    background-color: lightgray;
    padding: 0.5em;
    cursor: help;
}

.gm-notes summary + * {
    margin-top: 0.5em;
}

td.faded-out {
    color: lightgray;
}

td.error-text {
    color: red;
}

/* Rules Glossary tooltips */

dfn {
    position: relative;
    display: inline-block;
    cursor: help;
}
dfn:before {
    content: attr(name);
    color: #A4121A;
    text-decoration: underline dotted #A4121A;
}
dfn > .dfn-tooltip {
    display: none;
}
dfn:hover > .dfn-tooltip {
    display: block;
    position: absolute;
    top: calc(1em + 5px);
    width: 30em;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    background: #fff8ec;
    padding: 0 1em;
    border: solid 1px black;
    cursor: pointer;
    z-index: 1;
}