.card {
  height: 20vh;
}

.button-div {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
}

.dropdown-div {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

.force-card-set {
  width: 10em;
}