body {
  background-image: url("/static/img/wooden_table_background.jpeg"); /* The image used */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: repeat;
  /*background-size: cover;*/
}

#grid {
  /* background-color: red; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 64vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr)
}

#top{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

#left{
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

#middle{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

#right{
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

#bottom{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

 /* The flip card container - set the width and height to whatever you want. */
.flip-card {
  background-color: transparent;
  width: 90%;
  height: 90%;
  margin: 5%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipped {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: #bbb;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  transform: rotateY(180deg);
}

/* Style the back side */
.flip-card-back {
}

.card {
  width: 100%;
  height: 100%;
}

.off-grid {
  animation: deal-cards 0.8s forwards;
}

@keyframes deal-cards {
  100% { position: absolute; top: -20vh; left: -40vh; }
}

#slide-off-button {
  height: 40px;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  background-color: red;
  position: absolute;
  top: 10px;
  left: 10px;
}