:root {
    --weekdays: 7;
    --cellheight: 100pt;
}

body {
    background-color: white;
}

@media print {
	.noprint {
		display: none;
	}
}

/* Annual calendar group layout */

div.calendar_group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

/*===========================================================================
 * Common calendar formatting
 *===========================================================================*/

div.ccal_calendar {
    display: grid;
    grid-template-columns: repeat(var(--weekdays), 1fr);
    grid-auto-flow: dense;
    margin: 3pt;
    font-family: Segoe,Tahoma,Verdana,sans-serif;
}

div.ccal_month_header {
    text-align: center;
    grid-column: 1 / span var(--weekdays);
    -ms-grid-column: 1;
    -ms-grid-column-span: var(--weekdays);
    border: 1pt solid black;
}

div.ccal_day {
    position: relative;
    border-bottom: 1pt solid #bbb; 
    border-right: 1pt solid #bbb;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.ccal_day_row_start {
    position: relative;
    border-left: 1pt solid black;     
    margin: 0;
    padding: 0;
}

div.ccal_day_row_end {    
    border-right: 1px solid black;     
}

div.ccal_day_name {
    text-align: center;
    font-weight: bold;
    font-family: Roboto,Arial,sans-serif;
    border-bottom: 1pt solid black;
}

div.ccal_day_last_row {
    border-bottom: 1pt solid black;
}

/*===========================================================================
 * Monthly calendar
 *===========================================================================*/
 
.large_calendar {
    background-color: white;
}

.large_calendar div.ccal_month_header {
    position: relative;
    font-size: 24pt;
    font-weight: bold;
    background-color: #7FBF90;
    padding-top: 0.1625em;
    padding-bottom: 0.1625em;
}

.large_calendar div.ccal_day {
    overflow: hidden;
    position: relative;
    min-width: 80pt;
    padding: 3pt;
}

.large_calendar div.ccal_day_name {
    text-align: center;
    font-size: 10pt;
    padding: 3pt;
    display: block;
}

.large_calendar div.ccal_day_prev_month div,.large_calendar div.ccal_day_next_month div {
    opacity: 0.7;
    color: #555;    
}

.large_calendar div.ccal_day_num {
    font-size: 14pt;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 20pt auto;
    grid-template-rows: 12pt calc(var(--cellheight) - 12pt);
    min-height: var(--cellheight);
    height: var(--cellheight);
    cursor: pointer;
}

 
/* Cell contents 
* --------------------------------------*/

.large_calendar div.ccal_day_number {
    gird-row: 1 / 2;
    grid-column: 1 / 2;
    font-family: Roboto,Arial,sans-serif;
    float: left;
    font-size: 11pt;
    margin: 1pt 2pt 2pt 1pt;
    z-index: 4;
    align-self: start;
}

.large_calendar div.day_celestial {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
}

/* Events */

.large_calendar div.ccal_event_group {
    font-size: 12pt;
}

.large_calendar div.day_event {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow: hidden;
    max-height: calc(var(--cellheight) - 12pt);
    justify-self: end;
    text-align: right;
    align-self: end;
}


/* Full moon names */

.large_calendar div.ccal_first_full_event_group {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    color: #CA9F40;
    justify-self: end;
    text-align: right;
    align-self: end;
}

/* Seasons */

.large_calendar div.ccal_season_event_group {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    color: #30974B;
    justify-self: end;
    text-align: right;
}

/* Holidays */

.large_calendar div.ccal_holiday_event_group {
    text-align: right;
    align-self: end;
    justify-self: end;
    max-height: calc(var(--cellheight) - 12pt);
}

.large_calendar span.ccal_holiday_observedby {
    display: none;
}

/* Moon phases */

.large_calendar div.day_moon_phase {
    flex-flow: column;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: end;
    align-items: flex-end;
}

.large_calendar div.ccal_moon_phase_event_group {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow: hidden; 
    max-width: 12pt;
    max-height: calc(var(--cellheight) - 12pt);
    display: flex;
    align-self: end;
    align-items: flex-end;
    flex-flow: column;
}

.large_calendar div.ccal_moon_phase_event {    
    margin: 1pt;
}

.large_calendar div.ccal_moon_phase_event > canvas {  
    width: 100%;
}

.large_calendar .ccal_moon_phase {
    display: none;
}


div.print_container.large_calendar span.ccal_holiday_observedby {
    display: inline-block;
    color: #888;
    font-style: italic;
    font-size: 10pt;
}


/*===========================================================================
 * Annual calendar
 *===========================================================================*/

#year_header {
    text-align: center;
    background-color: #2A7F41;
    border: 1pt solid black;
    color: #c2e3cb;
    margin-bottom: 3pt;
    font-size: 28pt;
    font-weight: bold;
    padding: 0.25em;
    flex: 12 0 100%;
}

.small_calendar .ccal_calendar.active {
    background-color: #FFF6DA;
}

.small_calendar div.ccal_month_header {
    font-size: 14pt;
    font-weight: bold;
    padding: 1pt;
}

.small_calendar div.ccal_calendar {
    margin: 3pt;
    cursor: pointer;
}

.small_calendar div.ccal_day_name {
    font-weight: normal;
}

.small_calendar div.ccal_day_prev_month, .small_calendar div.ccal_day_next_month {
    background-color: #bbb;    
}

.small_calendar div.ccal_day_prev_month div,.small_calendar div.ccal_day_next_month div {
    display: none;
}

.small_calendar div.ccal_day {
    font-size: 12pt;
    min-width: 14pt;
}

.small_calendar .ccal_event {
    display: none;
}



div.printinfo {
	background-color: #FFADAD;
	border: 1px solid black;
	padding: 1em;
	margin: 1em;
}

div.print_container {
	page-break-inside: avoid;
	margin: 18pt;
}

div.print_container.large_calendar {
	page-break-before: always;
}

div.print_container.large_calendar div.ccal_holiday_event_group {
	padding-right: 0.25em;
}
